* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a, #1e293b);
    color: white;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.glass {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

nav {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-box {
    max-width: 700px;
    padding: 50px;
    border-radius: 25px;
}

.hero h1 {
    font-size: 55px;
}

.hero h2 {
    margin: 10px 0;
    color: #38bdf8;
}

.btns {
    margin-top: 20px;
}

button {
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 6px;
    font-weight: bold;
    background: #38bdf8;
}

.outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}

button:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    padding: 25px;
    border-radius: 20px;
    width: 260px;
}

.card p {
    margin: 15px 0;
    font-size: 14px;
}

section {
    padding: 80px 30px;
    text-align: center;
}

section box {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}   

textarea {
    resize: none;
    height: 120px;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .hero h1 {
        font-size: 38px;
    }
    .hero-box {
        padding: 30px;
    }
}