body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}